/* stylelint-disable no-duplicate-selectors */
.container {
	position: fixed;
	z-index: 9999;

	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	&.bottom-center,
	&.top-center {
		left: 50%;
		transform: translateX(-50%);
		align-items: center;
	}

	&.bottom-center {
		bottom: 1rem;
	}

	&.top-center {
		top: 1rem;
	}

	&.top-left,
	&.top-right {
		top: 1rem;
		align-items: flex-end;
	}

	&.bottom-left,
	&.bottom-right {
		bottom: 1rem;
		align-items: flex-start;
	}

	&.top-right,
	&.bottom-right {
		right: 1rem;
	}

	&.top-left,
	&.bottom-left {
		left: 1rem;
	}
}

@media screen and (max-width: 480px) {
	.container {
		right: 0 !important;
		left: 0 !important;
		width: 100%;

		&.top-left,
		&.top-right,
		&.top-left {
			top: 0 !important;
		}

		&.bottom-left,
		&.bottom-right,
		&.bottom-left {
			bottom: 0 !important;
		}
	}
}
